<?php namespace Dotink\Sage\Config {

	const PHP_NET = 'http://www.php.net/';
	const TR_LIB  = 'http://andrewsville.github.com/PHP-Token-Reflection/';

	return [

		//
		// Whether or not we want to sort our output by major types: constants, functions,
		// interfaces, classes, traits
		//

		'sort_by_type' => TRUE,

		//
		// Templat data we can use inside templates
		//

		'template_data' => [

			//
			// Root directory where we store examples
			//

			'example_root' => implode(DIRECTORY_SEPARATOR, [__DIR__, 'docs', 'examples']),
		],

		//
		// This list allows you to provide external doc links.  You could also use this to
		// override documents which are autolinked internally.
		//

		'external_docs' => [

			//
			// PHP.NET standard types
			//

			'string'  => PHP_NET . 'language.types.string.php',
			'array'   => PHP_NET . 'language.types.array.php',
			'integer' => PHP_NET . 'language.types.integer.php',
			'int'     => PHP_NET . 'language.types.integer.php',
			'boo'     => PHP_NET . 'language.types.boolean.php',
			'boolean' => PHP_NET . 'language.types.boolean.php',
			'float'   => PHP_NET . 'language.types.float.php',
			'NULL'    => PHP_NET . 'language.types.null.php',
			'void'    => PHP_NET . 'language.types.null.php',
			'mixed'   => PHP_NET . 'language.pseudo-types.php',

			//
			// PHP.NET Standard Library
			//

			'ArrayIterator' => PHP_NET . 'class.arrayiterator.php',
			'Exception'     => PHP_NET . 'class.exception.php',
			'DOMDocument'   => PHP_NET . 'class.domdocument.php',
			'DOMElement'    => PHP_NET . 'class.domelement.php',
			'DOMNode'       => PHP_NET . 'class.domnode.php',
			'DOMNodeList'   => PHP_NET . 'class.domnodelist.php',
			'DOMXPath'      => PHP_NET . 'class.domxpath.php',

			//
			// TokenReflection (used by sage)
			//

			'TokenReflection\IReflection' => TR_LIB . 'class-TokenReflection.IReflection.html',

		],

		//
		// A list of custom token parsers
		//

		'token_parsers' => [

		]

	];

}
